.navbar__all {
  position: fixed;
  top: -2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
  align-items: center;
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 400;
  z-index: 1;
  background-color: white;
  width: 100%;
}
.nav-link {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 48px;
  color: #434343;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.connect {
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
  border-radius: 10px;
  height: 48px;
  min-width: 178px;
  text-align: center;
  justify-content: center;
  
}
h4 {
  margin-top: 15px;
  color: white;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 5px;
}
.nav-icon img {
  display: none;
  cursor: pointer;
}


.modal__open {
  margin-top: 200px;
  display: flex;
  margin-left: 450px;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 350px;
  background: #FFFFFF;
  border: 1px solid #CFD8DC;
  border-radius: 16px;
}

@media (max-width: 480px) {
  .modal__open {
    justify-content: center;
      margin-top: 150px;
      margin-left: 70px;
      width: 280px;
      height: 150px;
    }
  }

@media (max-width: 768px) {
  .modal__open {
    justify-content: center;
      margin-top: 150px;
      margin-left: 70px;
      width: 280px;
      height: 150px;
    }
    
    li {
      border-bottom: 1px solid #CFD8DC;
    }
  .navbar__all {
      position: absolute;
      display: flex;
      flex-direction: row;
      position: fixed;
      justify-content: flex-start;
      top: -2px;
      height: 80px;
      padding-left: 15px;
  }
  .Bnbn {
      width: 140px;
      margin-right: 20px;

  }
  .connect {
     margin-left: -100px;
      min-width: 100px;
      font-size: 12px;
      display: flex;
      padding-left: 4px;
      padding-right: 4px;
  }
  .connect:hover {
    cursor: pointer;
  }

.navbar__options ul {
  background-color: whitesmoke;
  visibility: show;
  flex-direction: column;
  text-align: center;
  align-items: flex-start;
  width:150px;
  padding: 10px;
  border-radius: 8px;
  gap: 20px;
  position: relative;
  top:96px;
  left: -20%;
  transition: 0.5s all;
  opacity: 1;
  list-style: none;
}
.navbar__optionsactive ul {
  visibility: hidden;
}

.nav-icon img {
  display: flex;
}

}